<% if current_user?(@user) %>
  <div class="card" id="applications">
    <div class="card-header">
      <h3 calss="card-title">Applications</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-fixed">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Applicants</th>
                    <th scope="col" class="text-center">Event</th>
                    <th scope="col" class="text-center">Apply Time</th>
                    <th scope="col" class="text-center">Approve</th>
                    <th scope="col" class="text-center">Disapprove</th>
                </tr>
            </thead>

            <% @applications.each do |application| %>
                <tr>
                    <td><%= application.applicant.name %></td>
                    <td><%= application.event.title %></td>
                    <td class="text-center"><%= application.created_at %></td>
                    <td style="display:flex, width: 20%" class="justify-content-center"><%= link_to_approve application.id, @user.id %></td>
                    <td style="display:flex" class="justify-content-center"><%= link_to_disapprove application.id, @user.id %></td> 
                </tr>
            <% end %>
        </table>
    </div>
  </div>
  <br>
<% end %>