<% provide(:title, 'Sign In') %>
<h1>Sign In</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: log_in_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <p> New user? <%= link_to "Sign Up now!", new_user_path %></p>
</div>
<div class="row">
  <li class="nav-item"><%= link_to "Sign in with Google", '/auth/google_oauth2', class:'nav-link' %></li>
</div>