<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Basic Profile</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= gravatar_for @user %>
          <%= @user.name %>
        </p>
        <div class="card-text d-flex align-items-center justify-content-end">
          <% if current_user?(@user) %>
            <div calss="col-2">
              <%= link_to  "Edit profile", profile_path %>
            </div>
          <% else %>
            <div>
              <% if current_user.following?(@user) %>
                <%= link_to_unfollow current_user.id, @user.id %>
              <% else %>
                <%= link_to_follow current_user.id, @user.id %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render_async get_follows_path(user_id: @user.id), 'data-turbolinks-track': 'reload' %>
  </div>
  <div class="col-sm-8">
    <% if current_user?(@user) %>
      <%= render_async get_applications_path(user_id: @user.id), 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= render_async get_events_path(user_id: @user.id), 'data-turbolinks-track': 'reload' %>
  </div>
</div>
