<%= form_for( @user, method: "patch", remote: true, url: "/users/#{params[:id]}?field_type=#{params[:field_type]}" ) do |f| %>
    <div class="form-group">
        <% case params[:field_type]%>
        <% when "email" %>
            <%= f.email_field :email %>
        <% when "password" %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
        <% when "portrait" %>
            <%= f.file_field :portrait %>
        <% else %>
            <%= f.text_field params[:field_type] %>
        <% end %>
    </div>
    <div class="form-group row">
        <%= f.submit "Save", class: "btn btn-primary col-sm-6" %>
        <%= f.submit "Cancel", class: "btn btn-danger col-sm-6" %>
    </div>
<% end %>