<div class="card">

  <div class="card-header">
    <nav class="navbar">
      <ul class="nav navbar-nav navbar-left">
        <h5><b><%=@title%></b></h5>
      </ul>
    </nav>
  </div>

  

  <%= form_for(@event, :html => { id: "info", method: @method, style: "padding: 40px;" } ) do |f| %>

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" id="title" value="<%=@event[:title]%>" required>
      <small class="form-text text-muted">Title of the event</small>
    </div>
    <br>

    <div class="form-group">
      <label>Time</label>
      <br>
      <%= f.date_field :time, :required => true%>
      <small class="form-text text-muted">Select the time when the event begins</small>
    </div>
    <br>

    <div class="form-group">
      <label>Place</label>
      <input type="text" class="form-control" name="place" id="place" value="<%=@event[:place]%>" style="width: 99%;" required>
      <script>
        function initAutocomplete() {
          // Create the autocomplete object, restricting the search predictions to
          // geographical location types.
          autocomplete = new google.maps.places.Autocomplete(
              document.getElementById('place'), {types: ['geocode']});

          // Avoid paying for data that you don't need by restricting the set of
          // place fields that are returned to just the address components.
          autocomplete.setFields(['address_component']);

          // When the user selects an address from the drop-down, populate the
          // address fields in the form.
          autocomplete.addListener('place_changed', fillInAddress);
        }
      </script>
      <small class="form-text text-muted">Place of the event</small>
    </div>
    <br>

    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" name="price" id="price" value="<%=@event[:price]%>">
      <small class="form-text text-muted">[Optional] Price of the event ticket</small>
    </div>
    <br>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" id="description" required><%=@event[:description]%></textarea>
      <small class="form-text text-muted">Event description</small>
    </div>
  <% end %>

  <div class="row" style="margin-left: 20px; margin-bottom: 20px;">
    <button type="submit" form="info" class="btn btn-primary">Submit</button>
    &nbsp;&nbsp;
    <%= button_to "/events/#{@event[:id]}", class:"btn btn-secondary", method: :get do %>
        Back
    <% end %>
  </div>
  
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&&libraries=places&callback=initAutocomplete&language=en" async defer></script>