<section id="events">
    <%= link_to "new event", "/events/new", method: :get %>
    <% if @events.empty? %>
        <br><h6>There is no tweet yet. Follow other users to see their new events by searching with the name. Or write your own events!</h6>
    <% else %>
        <% @events.each do |t| %>
        <div class="card">
            <div class="card-header">
                <nav class="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <h5><%=t["title"]%></h5>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%=t["place"]%>
                        <small class="form-text text-muted"><%=t["time"]%></small>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                #pictures here<br><br>
                <p class="card-text"><b>Ticket Price: <%=t["price"]%></b></p>
                <div class="row" style="padding-left:10px;">
                    <%= button_to "/events/#{t["id"]}", method: :get, class:"btn btn-primary"  do %>
                        View details
                    <% end %>
                    &nbsp;&nbsp;
                    <%= button_to book_event_path(event_id: t["id"]), method: :post, class:"btn btn-primary"  do %>
                        Book
                    <% end %>
                    &nbsp;&nbsp;
                    <%= button_to "/events/#{t["id"]}/edit", method: :get, class:"btn btn-primary" do %>
                        Edit
                    <% end %>
                </div>
            </div>
        </div>
        <br>
        <% end %>
    <% end %>                                               
</section>