<header role="banner">
    <%= image_pack_tag("gallery.png", id: "logo-main", width: "200", alt: "Logo Thing main logo") %>
    <nav class="navbar navbar-expand-sm navbar-light btn-secondary">
    <div class="container">
        <div class="collape navbar-collapse">
            <ul class="navbar-nav">
                <li>
                    <%= button_to "/events/new", method: :get, class:"btn btn-secondary" do %>
                        <%= octicon "plus", size: "80x80", style: "padding:0;margin:0" %>
                    <% end %>
                </li>
                <li><%= render 'sortTab' %></li>
                <li><%= render 'filter' %></li>
            </ul>
        </div>
        <ul class="navbar-nav navbar-right">
            <li><%= render 'search' %></li>
        </ul>
    </div>
    </nav>
</header>
<% if @events.empty? %>
    <br><h6>There is no event yet. Follow other users to see their new events by searching with the name. Or write your own events!</h6>
<% else %>
    <div class="gallery">
        <%= render :partial => 'events', :object => @events %>
        <br>
    </div>
    <p class="pagination">
        <%= link_to_next_page(@events, 'Next Page', :remote => true) %>
    </p>   
<% end %>
<%= javascript_pack_tag 'events' %>



