<div class="card" style="padding-bottom: 15px;">
  <div class="card-body">
    <div class="row justify-content-center detail">
      <div class="col-md-6 align-self-center">
        <% if !@pictures.empty? %>
          <%= render 'image_show' %>
        <% else %>
        <%=image_pack_tag("no_image.jpg", class: "img-fluid", style: "padding:0;margin:0")%>
        <% end %>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="row">
          <% if @event.time > Time.now %>
            <h6 class="p-2 rounded-pill bg-success text-light">
              <%= octicon "flame" %> Active
            </h6>
          <% else %>
            <h6 class="p-2 rounded-pill bg-secondary text-light">
              <%= octicon "clock" %> End
            </h6> 
          <% end %>
          <h4 class="card-title" style="padding-left: 10px; padding-top: 3px;">
            <%=@event["title"] %>
          </h4>
          
          <div style="margin-left: auto; margin-right: 0;">
            <% if !(Participant.where(event_id:@event[:id], role:1).empty?) && session[:current_user_id] == Participant.where(event_id:@event[:id], role:1).first.user_id %>
              <%= button_to "/events/#{@event["id"]}/edit", method: :get, class:"btn btn-primary" do %>
                Edit
              <% end %>
            <% else %>
              <%= octicon "star", height:32, class:"octicon octicon-x close" %>
            <% end %>
          </div>
        </div>
        <h6 class="card-subtitle text-muted" style="padding-top: 15px;">
          Time: <%=@event.time%>
        </h6>
        <h6 class="card-subtitle text-muted" style="padding-top: 15px;">
          Place: <%=@event.place%>
        </h6>
        <h6 class="card-subtitle text-muted" style="padding-top: 15px;">
          Price: $<%=@event.price%>
        </h6>
        <div style="padding-top: 20px;">
          <%=render 'gmap'%>
          <div id="googleMap" style="width:300px;height:200px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" style="padding: 30px;">
  <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <h4 class="card-title">
      Description
    </h4>
    <% if @canApply %>
      <div style="margin-left: auto; margin-right: 0;">
        <% if @isBooked %>
          <button class="btn btn-success disabled" style="cursor: default;">You have booked this event</button>
        <% elsif !@apply.nil? %>
          <%= button_to edit_apply_path(id:@apply["id"], event_id:@event["id"], user_id:session[:current_user_id]), method: :delete, class:"btn btn-danger"  do %>
            Cancel my application
          <% end %>
        <% else %>
          <%= button_to edit_apply_index_path(event_id:@event["id"], user_id:session[:current_user_id]), method: :post, class:"btn btn-primary"  do %>
            Apply this event
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  <h6 style="padding-top: 10px;">
    <%=@event["description"] %>
  </h6>
</div>
<br>
<div class="container" style="max-width:1000px">
<section id="forum">
  <h2 class="title">Forum</h2>
  <%= render_async get_forum_path(event_id: @event.id), 'data-turbolinks-track': 'reload' %>
  <%= render partial: "posts/new_modal" %>
</section>
</div>