<% if current_user?(@user) %>
  <div class="card" id="search">
    <div class="card-header">
      <div class="d-flex justify-content-center h-100">
        <%= render partial: "searchbar" %>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group row" id="result"></ul>
    </div>
  </div>
  <br>
<% end %>

<div class="card" id="followees">
  <div class="card-body">
    <h3 calss="card-title">Following</h3>
    <ul class="list-group row">
      <% @followees.each_with_index do |user, i| %>
        <% id = "followee-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
          <% if current_user?(@user) %>
            <%= render partial: "unfollow_link" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<div class="card" id="followers">
  <div class="card-body">
    <h3 calss="card-title">Followers</h3>
    <ul class="list-group row">
      <% @followers.each_with_index do |user, i| %>
        <% id = "follower-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>