<% if current_user?(@user) %>
  <div class="card" id="followees">
    <div class="card-body">
      <%= form_with(url: user_search_path, remote: true, method: :get, class: "form-inline") do |f| %>
        <%= f.search_field :name, placeholder: "Please type the name", class: "form-control" %>
        <%= f.submit "Search", class:"btn btn-outline-success" %>
      <% end %>
      <ul class="list-group row" id="result"></ul>
    </div>
  </div>
  <br>
<% end %>

<div class="card" id="followees">
  <div class="card-body">
    <h3 calss="card-title">Following</h3>
    <ul class="list-group row">
      <% @followees.each_with_index do |user, i| %>
        <% id = "followee-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
          <% if current_user?(@user) %>
            <%= button_to "unfollow", follows_path(user_id: current_user.id, followee_id: user.id, list_id: id), method: "delete", class:"btn btn-danger" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<div class="card" id="followers">
  <div class="card-body">
    <h3 calss="card-title">Followers</h3>
    <ul class="list-group row">
      <% @followers.each_with_index do |user, i| %>
        <% id = "follower-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>