<% if current_user?(@user) %>
  <section id="search">
    <h3>Search User</h3>
    <%= search_user %>
    <ul class="list-group row" id="result"></ul>
  </section>
  <br>
<% end %>

<section id="followees">
  <h3>Following</h3>
  <% if @followees.empty? %>
    <%= empty_placeholder "No following so far" %>
  <% else %>
    <ul class="list-group row">
      <% @followees.each_with_index do |user, i| %>
        <% id = "followee-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
          <% if current_user?(@user) %>
            <%= link_to_unfollow @user.id, user.id %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
<br>
<section id="followers">
  <h3>Followers</h3>
  <% if @followers.empty? %>
    <%= empty_placeholder "No followers so far" %>
  <% else %>
    <ul class="list-group row">
      <% @followers.each_with_index do |user, i| %>
        <% id = "follower-" + i.to_s %>
        <li class="list-group-item d-flex justify-content-between align-items-center" id=<%= id %>>
          <%= link_to user.name, index_path(user_id: user.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>