<div class="card-footer">
<%= form_for( @post , remote: true) do |f| %>
  <div class="form-group justify-content-end row">
    <%= f.label :content, class: "col-form-label col-sm-2" %>
    <%= f.text_area :content, class:"form-control col" %>
    <div class="col-1"></div>
    
  </div>
  <%= f.hidden_field :event_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :title %>
  <div class="form-group justify-content-end row">
    <%= f.submit "Post", class: "btn btn-primary" %>
    &nbsp &nbsp
    <%= f.submit "Cancel", class: "btn btn-danger" %>
    <div class="col-1"></div>
  </div>
<% end %>
</div>