<div class="row">
    <div class="col-sm-3">
        <div class="image">
            <%=gravatar_for(current_user)%>
            <div class="mask-middle">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_portrait">Edit</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="edit_portrait" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <%= form_for( @user, method: "patch", url: "/users/#{current_user.id}?field_type=portrait}" ) do |f| %>
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <%= f.file_field :portrait, class: 'file'%>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit "Save", class: "btn btn-primary" %>
                    </div>
                    </div>
                <% end %>
            </div>
            </div>
        </div>
        <div id="portrait"></div>
    </div>
    <div class="col-sm-9">
        <h1><%= current_user.name %></h1>
        <table class="table table-hover">
          <tbody> 
              <tr>
              <td>Name</td>
              <td id="name"><%= current_user.name %></td>
              <td><%= link_to  "edit", edit_user_path(id: current_user.id, field_type: "name"), remote: true, class: "btn btn-primary" %></td>
              </tr>
              <tr>
              <td>Mail</td>
              <td id="email"><%= current_user.email %></td>
              <td><%= link_to  "edit", edit_user_path(id: current_user.id, field_type: "email"), remote: true, class: "btn btn-primary" %></td>
              </tr>
              <tr>
              <td>Password</td>
              <td id="password">*********</td>
              <td><%= link_to  "edit", edit_user_path(id: current_user.id, field_type: "password"), remote: true, class: "btn btn-primary" %></td>
              </tr>
          </tbody>
      </table>
    </div>
</div>

