<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= content_for :render_async %>
  </head>

  <body>
    <div class="bg" data-spy="scroll">
      <%= render 'layouts/header' %>
      
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%# <div style="padding: 20px;"> %>
      <div class="jumbotron container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
